<% provide :title, t("books.all") %>
<h1><%= t "books.all" %></h1>
<% if current_user.is_admin? %>
  <div class="pull-right">
    <a class="btn btn-primary" href="#" role="button">
      <%= t "books.index-page.create" %>
    </a>
    <a class="btn btn-primary" href="#" role="button">
      <%= t "books.index-page.export" %>
    </a>
  </div>
<% end %>
<div class="clearfix"></div>
<ul class="books">
  <%= render @books %>
</ul>

<%= will_paginate %>
